header{
    background-color: rgb(249, 245, 241);
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}
.btnpr {
    background-color: rgb(236, 230, 223);
    border: none;
    color: rgb(19, 15, 15);
    padding: 14px 16px;
    font-size: 15px;
    cursor: pointer;
  }
  .btnnt {
    background-color: rgb(236, 230, 223);
    color: rgb(19, 15, 15);
    padding:14px 16px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 100%;
    border: none;
  }
  .btnmenubar {
    background-color: rgb(236, 230, 223);
    color: rgb(19, 15, 15);
    margin-left: 50px   ;
    padding: 12px 16px;
    font-size: 15px;
    cursor: pointer;
   
  }
  .cbt{
    float: left;
    width: 20%;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    height: 50px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    background-color:  rgb(236, 230, 223);
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: rgb(19, 15, 15);
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
  }